@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Julius+Sans+One');

body{
    font-family: 'Julius Sans One', sans-serif !important;
    background-color: #FFFFFD !important;
    text-align: center;
}
nav{
    background-color: #FFD2C4 !important;
    border: none !important;
    width: 100%;
}
nav ul{
    text-align: center;
    margin-left: 35% !important;
}
nav a{
    /*color: #FFD9D2 !important;*/
}
.content{
    margin:5%;
    margin-left: 15%;
    padding: 5%;
    background-color: #A8877E;
    height: 100%;
    width: 70%;
}

h1{
font-family: 'Homemade Apple', cursive !important;
}
 body {
      position: relative;
  }
  /*#start {*/
  /*  margin-top: 5%;*/
  /*  margin-left: 5%;*/
  /*  width: 90%;*/
  /*  padding-top:50px;*/
  /*  height:500px;*/
  /*  color: #fff; */
  /*  background-color: #FFA49D;*/
  /*}*/
  #start {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #A8A8B5;
  }
  #works {
      margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #575564;
  }
#experiences {
      margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color:#575564;
  }
#connect {
      margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #A8A8B5;
  }
#me{
    width:30%;

}
#img-responsive{
    width:100%;
}
#social-media img{
    width: 20%;
    padding-right: 5%;
    filter: brightness(0) invert(1);
}
#experiences-list{
width:90%;
margin-left: 5%;
}
